body {
    font-family: Arial, sans-serif;
    background: #f3efef;
    margin: 0;
    padding: 20px;
    color:rgb(255, 255, 255);
    z-index: 2;
    
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 30px;
    position: relative;
    z-index: 2;
}

h1 {
    margin-top: 0;
}

.current-weather {
    display: flex;
    align-items: center;
    gap: 20px;
}

.current-weather img {
    width: 80px;
}

.temp {
    font-size: 60px;
    font-weight: bold;
}

.info {
    margin-top: 10px;
}

.forecast {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.day-card {
    background: #fafafa;
    padding: 15px;
    border-radius: 15px;
    width: 100px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    color: black;
    font-size: 20px;
}

.temps {
    margin-top: 5px;
    font-size: 14px;
    font-size: 20px;
}

#hero {
    min-height:100vh;
    position: relative;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
