header{
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, white, blue)
}
header{
    display: flex;
    justify-content: center;
    font-size: 60PX;
    
    
}

body{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;

   
}

.img-nature, .img-technology{
    width: 100%;
    height: auto;  
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 12px;
}

img{
    width: 100%;
    height: 100%;
    
}

img:hover{
    transform: scale(1) rotate(-15deg );
    border-radius: 60px;  
}
h2{
    font-size: 40px;
}