:root {
    --navi: rgb(66, 120, 124);
    --navbar: rgba(171, 171, 171, 0.422);
    --icon: rgb(86, 94, 170);
    --text: white;
}

body, html {
    background-image: url(/Mini-Os/images/system.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: 100%;
}

header {
    width: 90%;
}

h1 {
    text-align: center;
    top: 10px;
    color: var(--text);
    font-size: 50px;
    animation: beat 1.2s infinite;
    margin-left: 100px;
}

@keyframes beat {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

img {
    width: 40px;
    transition: all 0.3s ease-in-out;
    size: cover;
    margin: 10px;
}

img:hover {
    transform: translateY(-8px);
}

nav {
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 95%;
    background:var(--navbar);
    margin: 0 auto;
}

.nav-container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.nav2-container2 {
    width: 25%;
    height: 80%;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-right: 20px;

}

h2 {
    margin: 0 auto;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

p {
    color: var(--text);
    text-align: center;
    
}

.window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    background: white;
    border: 2px solid rgb(71, 21, 100);
    border-radius: 2rem;
}

.window:target {
    display: block;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
    font-size: 20px;
}

.window iframe {
    width: 100%;
    height: 100%;
    border: none;
}


